body{
    background: rgb(102, 99, 99);
    margin: auto;
    width: 96%;
    padding: 0%;
}

#header{
    background: wheat;
    padding: 1%;
    margin: auto;
    color: slateblue;
    font-family: inherit;
    border-bottom: black 2px solid;
    
}

#btnRepos{
    border:  black 2px solid;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: wheat;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    width: 10%;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
    
    
    
}
#btnIssues{
    border:  black 2px solid;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: wheat;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    width: 10%;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

#btnCommits{
    border:  black 2px solid;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: wheat;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    width: 12%;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

#btnIssuesPrivate{
    border:  black 2px solid;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: wheat;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

#btnCreateIssue{
    border:  black 2px solid;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: wheat;
    cursor: pointer;
    padding: 25px 100px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
    position: relative;
    text-align: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: wheat;
    color: black;
    text-align: center;
    border-top: black 2px solid;
    height: 4%;
    font-weight: 600;
}

